#sidebar {
  flex: 0 0 auto;
  background-color: var(--sidebar-background);
  overflow-y: auto;
  height: 100%;

  .explorer-title {
    font-size: 0.65rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    color: var(--muted-foreground);
  }
}

#file-tree {
  font-size: 0.85rem;
  color: var(--foreground);

  li {
    white-space: nowrap;

    .file-name {
      display: flex;
      align-items: center;
      padding: 2px 4px;
      cursor: pointer;
      border-radius: 3px;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        background-color: var(--accent);
      }

      &.active {
        background-color: var(--secondary);
        color: var(--secondary-foreground);
        font-weight: bold;
      }

      i {
        margin-right: 4px;
      }
    }

    ul {
      padding-left: 1rem;
    }
  }
}
