@use 'sass:meta';

@use '_base';
@use '_editor';
@use '_preview';
@use '_darkmode';
@use '_sidebar';

@include meta.load-css('katex/dist/katex.min.css');

html {
  overflow-y: hidden !important;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

.gutter {
  background-color: var(--gutter-background);
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  width: 10px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.gutter.sidebar-gutter-horizontal {
  width: 2px;
  cursor: col-resize;
}
