<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Chris Rowles" />
    <meta
      name="description"
      content="MKEditor is a simple, fast, and free online markdown editor with live preview. Write, format, and export your markdown documents instantly."
    />
    <meta
      name="keywords"
      content="markdown, markdown editor, simple markdown editor, online markdown editor, markdown writing, markdown preview, markdown formatting, markdown tool"
    />
    <!-- OpenGraph meta tags -->
    <meta property="og:title" content="MKEditor - Markdown with style." />
    <meta
      name="og:description"
      content="MKEditor is a simple, fast, and free online markdown editor with live preview. Write, format, and export your markdown documents instantly."
    />
    <meta
      property="og:image"
      content="https://versyxdigital.github.io/mkeditor/assets/img/demo-dark.png"
    />
    <!-- Twitter meta tags -->
    <meta
      name="twitter:card"
      content="https://versyxdigital.github.io/mkeditor/assets/img/demo.png"
    />
    <meta name="twitter:title" content="MKEditor - Markdown with style." />
    <meta
      name="twitter:description"
      content="Write, preview, and export markdown instantly with MKEditor."
    />
    <meta
      name="twitter:image"
      content="https://versyxdigital.github.io/mkeditor/assets/img/demo-dark.png"
    />
    <!-- Page title and canonical URL -->
    <title>MKEditor</title>
    <link rel="canonical" href="https://versyxdigital.github.io/mkeditor/web" />
    <!-- CSS Dependencies -->
    <link rel="stylesheet" href="./mkeditor.bundle.css" />
  </head>
  <body data-theme="light">
    <!-- React mount point. -->
    <div id="react-root" class="flex h-full flex-col"></div>

    <script type="text/javascript" src="./mkeditor.bundle.js"></script>
  </body>
</html>
